body {
}

/*nav {
    margin-top: 0px;
    background-color: #191970;
}

    nav ul {
        list-style-type: none;
    }

        nav ul li {
            display: inline-block; inline-Block display the url link in block style 
            padding: 10px;
            margin: 10px;
            border: 2px solid #191970;
            color: white; 
        }

    */

   /* nav a {
        text-decoration: none;
    }

        nav a:hover, nav li:hover {
            background-color: white;
        } */

.auto-style1 {
    width: 100%;
}

.auto-style2 {
    width: 98px;
}

.auto-style3 {
    position: relative;
    min-height: 1px;
    float: left;
    width: 701px;
    left: 0px;
    top: 0px;
    padding-left: 15px;
    padding-right: 15px;
}