body {
    background-image: url("E:/School/EADP/Project1/Touristation/Touristation/photo/bk5.JPG");
    background-attachment: fixed;
    border-style: dotted;
    border-width: 8px;
    border-color: lightgreen;
}

#loca {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    font-size: 64px;
    color: white;
    border-style: dotted;
    border-width: 3px;
    border-color: greenyellow;
}

.image{
    display:inline-block;
    vertical-align:top;
}

.pri {
    display: inline-block;
    vertical-align: top;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: left;
    font-size:20px;
    color: white;
}

.top {
    display: inline-block;
    vertical-align: top;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    font-size: 28px;
    color:white;
}

.com {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: left;
    font-size: 28px;
    color: white;
}